h3,
h4,
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

.BoxInput {
  width: 640px;
  height: 352px;

  background: #F6F4EA;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 24px;
  width: 90%;
}

.Trade {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.Trade h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212126;

}

.Trade h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.Contador {
  width: 63px;

}

.Contador h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.InputBody {
  /* InputBody */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  position: absolute;
  width: 560px;
  height: 264px;
  left: 40px;
  top: 64px;

  background: #FDFCFC;
  opacity: 0.1;
  border: 1px solid #D96C89;
  border-radius: 8px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212126;
}

.BackBody {
  /* BackBody */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  position: absolute;
  width: 560px;
  height: 264px;
  left: 40px;
  top: 64px;

  background: #FDFCFC;

  border-radius: 8px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212126;
}

/* .maximo{
  white-space: pre-line;
} */