/* Variables de colores */
:root {
  /* Taupe 100 */
  --color-background-boxinput: rgba(233, 230, 226, 1);
  /* Azul Marino */
  --color-text-trade-h3: #172B4D;
  --color-text-trade-h4: #172B4D;
  --color-text-inputbody: #172B4D;
  --color-text-backbody: #172B4D;

  --color-background-inputbody: #FDFCFC;
  /* Cognac */
  --color-border-inputbody: #6D4C41;
}

/* Reset de margen */
h3, h4, p {
  margin: 0;
}

/* Estilos de caja de entrada */
.BoxInput {
  width: 640px;
  height: 352px;
  background-color: var(--color-background-boxinput);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Estilos de encabezado */
.Encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 24px;
  width: 90%;
}

/* Estilos de elementos de Trade */
.Trade {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Trade h3 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text-trade-h3);
}

.Trade h4 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-trade-h4);
}

.Contador {
  width: 63px;
}

.Contador h4 {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

/* Estilos de cuerpo de entrada */
.InputBody, .BackBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 560px;
  height: 264px;
  left: 40px;
  top: 64px;
  border-radius: 8px;
  font-family: 'Nunito';
  font-weight: 750;
  font-size: 24px;
  line-height: 33px;
}

.InputBody {
  background-color: var(--color-background-inputbody);
  opacity: 0.5;
  border: 1px solid var(--color-border-inputbody);
  color: var(--color-text-inputbody);
  z-index: 1;
}

.BackBody {
  background-color: var(--color-background-inputbody);
  opacity: 1;
  color: var(--color-text-backbody);
  z-index: 0;
}
