.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.BoxInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0px 24px;
  gap: 10px;

  width: 640px;
  height: 352px;

  background: #F6F4EA;
  border-radius: 8px;
}

.Encabezado {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 24px;
  gap: 16px;

  width: 640px;
  height: 33px;
}

.Trade {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 222px;
  height: 33px;
}

.Trade h3 {
  /* width: 188px; */
  /* height: 33px; */

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  color: #000000;

}

.Trade h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.Contador {
  width: 63px;
  height: 22px;
}

.Contador h4 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #D96C89;
}